{% extends "nom/base.html" %}
{% load staticfiles %}

{% block title %}Tesis{% endblock %}

{% block content %}

    <div class="six columns alpha">
	   <form id="data_form" action="" method="post" accept-charset="utf-8">
            {{ form.as_p }}
        
            <input class="button" type="button" value="Calcular" onclick="send_form();">
        </form>
    </div>

    <!--<p>Resultado {{ result }} </p>-->
{% endblock %}

{% block jquerys %}
<script src="{% static 'nom/js/main.js' %}"></script>
<script src="{% static 'nom/js/jquery.dajax.core.js' %}"></script>
{% endblock %}