{% extends "nom/base.html" %}
{% load staticfiles %}

{% block title %}Tesis{% endblock %}

{%block css %}
<link rel="stylesheet" type="text/css" href="{% static 'nom/footable.core.css' %}" />
{% endblock %}

{% block content %}

    <div class="container">
	   <form id="data_form" action="" method="post" accept-charset="utf-8">
            <select id="states" size="1"></select>
            <select id="cities" size="1">
            	<option value="0">Escoge una ciudad</option>
            </select>
        
            <input class="button" type="button" value="Calcular" onclick="send_form();">
        </form>

        <!--<input type="text" value="5" id="a"> x
		<input type="text" value="6" id="b"> =
		<input type="text" value="" id="result">
		<input type="button" value="Multiply!" onclick="calculate();">-->

		<select id="house_part" size="1" onchange="get_materials();">
			<option value="0">Escoge...</option>
			<option value="techo">Techo</option>
			<option value="ventana">Ventana</option>
			<option value="piso">Piso</option>
			<option value="muro">Pared</option>
		</select>

            <select id="ubication" size="1" >
            	<option value="0">Escoge...</option>
            	<option value="pared_norte">Pared norte</option>
            	<option value="pared_este">Pared este</option>
            	<option value="pared_sur">Pared sur</option>
            	<option value="pared_oeste">Pared oeste</option>
            </select>

			<select id="material" size="1" >
            	<option value="0">Escoge un material</option>
            </select>

			<label for="area">Área</label>
			<input type="number" id="area" maxlength="6" min="0.0000" max="100000"/>
			<input class="button" type="button" value="Insertar" onclick="submit_material();"/>

            <table class="footable">
				<thead>
					<tr>
						<th>Pared</th>
						<th>Ubicacion</th>
						<th>Material</th>
						<th>Area</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Bob Builder</td>
						<td>555-12345</td>
						<td>Bob Builder</td>
						<td>Bob Builder</td>
					</tr>
				</tbody>
			</table>
    </div>

    <!--<p>Resultado {{ result }} </p>-->
{% endblock %}

{% block jquerys %}
<script src="{% static 'nom/js/base.js' %}"></script>
<script src="{% static '/static/dajax/jquery.dajax.core.js' %}"></script>
<script src="{% static 'nom/js/footable.js' %}"></script>
{% endblock %}